@model IEnumerable<EventPlanner.Models.PerformingAct>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPerformers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageAttendance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPerformers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageAttendance)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PerformingActId" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PerformingActId" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PerformingActId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
